<div class="status-view" [@SlideInOutAnimation]="animationState">
  <a class="status-view--trigger" (click)="slide()">
    <clr-icon shape="angle" [class]="animationState"></clr-icon>
  </a>
  <div class="status-view--content">
    <clr-tabs *ngIf="tabs.length > 0">
      <clr-tab *ngFor="let tab of tabs; let tabIndex = index; trackBy:tabIndex">
        <button clrTabLink>
          {{ tab.displayName }}
        </button>
        <ng-template [clrIfActive]="tabIndex === 0">
          <clr-tab-content>
            <clr-datagrid>
              <clr-dg-column>Summary</clr-dg-column>
              <clr-dg-column>Traceback</clr-dg-column>
              <clr-dg-column>Level</clr-dg-column>
              <clr-dg-column>Timestamp</clr-dg-column>
              <clr-dg-column>ID</clr-dg-column>
              <clr-dg-column>Request Info</clr-dg-column>
              <clr-dg-column>Client Info</clr-dg-column>

              <clr-dg-row *ngFor="let message of messageList; trackBy:message?.id">
                <clr-dg-cell>{{ message.summary }}</clr-dg-cell>
                <clr-dg-cell>{{ message.traceback }}</clr-dg-cell>
                <clr-dg-cell>{{ message.level }}</clr-dg-cell>
                <clr-dg-cell>{{ message.timestamp }}</clr-dg-cell>
                <clr-dg-cell>{{ message.id }}</clr-dg-cell>
                <clr-dg-cell>{{ message.request_info }}</clr-dg-cell>
                <clr-dg-cell>{{ message.client_info }}</clr-dg-cell>
              </clr-dg-row>
          
              <clr-dg-footer>{{ messageList.length }} messages</clr-dg-footer>
            </clr-datagrid>
          </clr-tab-content>
        </ng-template>
      </clr-tab>
    </clr-tabs>
  </div>
</div>