<div class="operDiv" [@SlideInOutAnimation]="animationState">
  <a class="toolBar" (click)="slideOut()">
    <clr-icon shape="angle-double"></clr-icon>
  </a>
  <div class="side-form">
    <clr-icon shape="refresh" class="freshIcon" (click)="TabEvent()"></clr-icon>
    <h3 class="custom-h2 event-text">Octant Status</h3>
    <div class="tab-top">
      <clr-tabs>
        <clr-tab *ngFor="let tab of tabs">
          <button clrTabLink id="link1" (click)="TabEvent()">
            {{ tab.displayName }}
          </button>
          <clr-tab-content id="{{ tab.streamName }}-{{ tab.displayName }}" *clrIfActive>
            <div class="eventInfo" *ngFor="let list of messageList">
              <div class="iconsArea">
                <clr-icon
                  [hidden]="list.state != 'error'"
                  size="18"
                  shape="error-standard"
                  class="color-red"
                ></clr-icon>
                <clr-icon
                  [hidden]="list.state != 'warning'"
                  size="18"
                  shape="unlink"
                  class="color-orange"
                ></clr-icon>
              </div>
              <div class="infoArea">
                <label class="eventName" (click)="toggleTitle(spanErrorInfo)">{{
                  list.message
                }}</label>
                <span class="eventTarget">{{ list.state }}</span
                ><span class="eventTime">{{ list.timeDiff }}</span>
                <span #spanErrorInfo class="eventErrorInf hidden-info">{{
                  list.message
                }}</span>
              </div>
            </div>
          </clr-tab-content>
        </clr-tab>
      </clr-tabs>
    </div>
  </div>
</div>
