// This value should match the value used for the animations in 'slide-in-out.animations.ts'
$statusContentHeight: 12rem;
$tabsHeight: 2rem;
$buttonsColor: #7c7c7c;
$buttonsColorHover: #0079b8;

.status-view {
  position: fixed;
  width: 100vw;
  height: $statusContentHeight;
  left: 0;
  z-index: 501;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  &--trigger {
    position: absolute;
    height: 36px;
    right: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: $buttonsColor;

    &:hover {
      color: $buttonsColorHover;
    }

    clr-icon {
      &.in {
        transform: rotate(180deg);
      }
    }
  }

  &--content {
    height: $statusContentHeight;
    width: 100%;
    background-color: white;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, .5);
    overflow: hidden;

    ::ng-deep clr-tabs {
      .nav {
        margin-left: .5rem;
      }

      .tab-content clr-datagrid {
        height: 100%;

        .datagrid {
          margin-top: 0;
          border-top: 0;
        }
      }
    }
  }
}